*{
    box-sizing:border-box;
}

body{
  color: #737373;
}

h3{
  text-transform: uppercase;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?crkae8');
  src:  url('../fonts/icomoon.eot?crkae8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?crkae8') format('truetype'),
    url('../fonts/icomoon.woff?crkae8') format('woff'),
    url('../fonts/icomoon.svg?crkae8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

 @font-face {
        font-family: "AvenirNextCondensed-DemiBold";
        src:
        url('../fonts/AvenirNextCondensed-DemiBold.ttf') format('truetype');
    }



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
    font-family: sans-serif ;
    font-weight: 550;
    color: #737373;
}

.header-wrap{
  padding:30px 0px 30px 0px;
  border-bottom: 1px #737373 solid;

}

.header-logo{
  float:left;
}

.logo{
  text-decoration: none;
/*  font-family: Raleway-SemiBold;*/

}

.logo-part1{
  height: 50px;
  width: 50px;
  background-color: #737373;
  font-size: 36px;
  color: white;
  padding-top: 5px;
  padding-left: 15px;
  display: inline-block;
}

.logo-part2{
  color: #737373;
  font-size: 24px;
  display: inline-block;
}

.social-btns{
  padding-top: 11px;
  float: right;
}

.social-btn{
  color:green;
  text-decoration: none;
  font-size: 34px;
}

.social-btn:hover{
  color: red;
}

.header-nav{
  padding:27px 0px 27px 0px;
}

.nav a {
  font-size: 18px;
  text-decoration: none;
  color: #737373;
  font-family: AvenirNextCondensed-DemiBold;
  font-weight: normal;
}

.nav a:hover {
  color: #2ecc71;
}



.icon-facebook:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}


.header{
  overflow: auto;
}

.container{
    margin: 0 auto;
    max-width: 940px;
}

.hero_banner_container{
    width: 100%;
/*    background-size:cover;*/
}

.banner{
    width: 100%;
    height: auto;
}

.hero{
  padding-bottom: 35px;
}

.hero-text{
  font-family: AvenirNextCondensed-DemiBold;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #737373;
  padding: 25px 10px 10px 10px;
  text-align: center;
}

.hero_button{
  font-family: sans-serif;
  background:#2ecc71;
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 12px 16px 12px 16px;
  display: inline-block;

}

.hero_text_container{
  text-align: center;
  margin: 0 auto;
  max-width: 755px;
}


.video-section{
  background: #efefef;
  padding: 40px 0px 40px 0px;
}

.video_col1{
  text-align: center;
  float: left;
  width: 42.5%;
  padding: 1%;
}

.video_col2{
  float: left;
  width: 55.5%;
  padding: 0 1%;
}

.video{
  height: 244px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
}

.text_description{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 678px){
.video_col1,.video_col2 {
    float: none;
    width: 100%;
}
}